.common-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers child divs horizontally */
    min-height: 65vh;
    width: 100%;
}

.row-add {  
    background: white;
    padding-left: 5px;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    width: 90vw; 
    min-height: 85vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

.payment-options {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  
.payment-option {
border: 1px solid #ddd;
border-radius: 12px;
padding: 20px;
max-width: 400px;
text-align: center;
box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
  