<div class="main-container fireworks-bg">
  <div class="message-box">
    @if (action === 'Technical Error') {
      Thank you for sharing information about your technical error.
      We will follow up on this issue as soon as possible!
    }

    @if (action === 'Site Suggestion') {
      Thank you for providing suggestion(s) for improvement to the AIPresident site.
      We appreciate the input.
    }

    @if (action === 'Other') {
      Thank you for contacting us. We appreciate the input.
    }
  </div>
</div>
