.vote-btn.active {
  background: #1e3a8a;
  color: white;
  border-color: #1e3a8a;
}

.vote-confirmation {
  margin-left: 12px;
  font-size: 0.9rem;
  color: #065f46;
}

.vote-btn-wrapper-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.vote-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
}

.vote-label {
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
  height: 18px;
}



@media (max-width: 768px) {
  .vote-btn-wrapper-container {
    gap: 2px; 
  }

.vote-btn {
  width: 30px;
  height: 30px;
}


}  




