<div class="main-container">
@if (politician) {
  @if (loadingSolutions) {
    <div class="loading">Loading Politician Support…@if (showPatienceMessage){This can take a few seconds.}</div>
  }
  @else {
    <p >
      <span class="boldText">We asked Claude:</span>
      <span class="question-text"><br>{{questionAsked}}</span><br>
    </p>
    <p class="redTextItal">
      Note that information about politicians will be cached for 1 month. On the first of each month, the information will be cleared and refreshed.
    </p> 

    <hr />

    <div class="questions">

    <div class="solution-item">
      <div [innerHTML]="formattedHtml"></div>
    </div>
        </div>
      }
    }

</div>
